<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrr.assnsystem.mapper.AssociationMapper">
  <resultMap id="BaseResultMap" type="com.xrr.assnsystem.dto.po.Association">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="association_name" jdbcType="VARCHAR" property="associationName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="recruit_state" jdbcType="INTEGER" property="recruitState" />
  </resultMap>

  <resultMap id="AssociationResultMap" type="com.xrr.assnsystem.dto.AssociationDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="association_name" jdbcType="VARCHAR" property="associationName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="recruit_state" jdbcType="INTEGER" property="recruitState" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from association_table
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xrr.assnsystem.dto.po.Association">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into association_table (association_name, user_id, content, 
      address, create_time, recruit_state
      )
    values (#{associationName,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{recruitState,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xrr.assnsystem.dto.po.Association">
    update association_table
    set association_name = #{associationName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      recruit_state = #{recruitState,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="AssociationResultMap">
    select a.id, a.association_name, a.user_id,u.name, a.content, a.address, a.create_time, a.recruit_state
    from association_table a
    left join user_table u on u.id = a.user_id
    where a.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="AssociationResultMap">
    select a.id, a.association_name, a.user_id,u.name, a.content, a.address, a.create_time, a.recruit_state
    from association_table a
    left join user_table u on u.id = a.user_id
    <where>
      <if test="userId != null and userId != ''">
        and a.user_id = #{userId}
      </if>
      <if test="recruitState != null and recruitState != ''">
        and a.recruit_state = #{recruitState}
      </if>
    </where>
    order by a.recruit_state desc
    limit #{pageNo},#{pageSize}
  </select>

  <!-- 查询总数 -->
  <select id="selectCount" resultType="java.lang.Long">
    select count(*)
    from association_table a
    left join user_table u on u.id = a.user_id
    <where>
      <if test="userId != null and userId != ''">
        and a.user_id = #{userId}
      </if>
      <if test="recruitState != null and recruitState != ''">
        and a.recruit_state = #{recruitState}
      </if>
    </where>
  </select>

</mapper>