<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrr.assnsystem.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.xrr.assnsystem.dto.po.Department">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="association_id" jdbcType="BIGINT" property="associationId" />
    <result column="minister_user_id" jdbcType="BIGINT" property="ministerUserId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

    <resultMap id="DepartmentResultMap" type="com.xrr.assnsystem.dto.DepartmentDto">
        <id column="id" jdbcType="BIGINT" property="departmentId" />
        <result column="association_id" jdbcType="BIGINT" property="associationId" />
        <result column="association_name" jdbcType="VARCHAR" property="associationName" />
        <result column="minister_user_id" jdbcType="BIGINT" property="ministerUserId" />
        <result column="minister_user_name" jdbcType="VARCHAR" property="ministerUserName" />
        <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department_table
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xrr.assnsystem.dto.po.Department">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into department_table (association_id, minister_user_id, department_name,
      content, create_time)
    values (#{associationId,jdbcType=BIGINT}, #{ministerUserId,jdbcType=BIGINT}, #{departmentName,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xrr.assnsystem.dto.po.Department">
    update department_table
    set association_id = #{associationId,jdbcType=BIGINT},
      minister_user_id = #{ministerUserId,jdbcType=BIGINT},
      department_name = #{departmentName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="DepartmentResultMap">
    select d.id, d.association_id,a.association_name,
     d.minister_user_id,u.name as minister_user_name, d.department_name, d.content, d.create_time
    from department_table d
    left join user_table u on u.id = d.minister_user_id
    left join association_table a on a.id = d.association_id
    where d.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="DepartmentResultMap">
    select d.id, d.association_id,a.association_name, d.minister_user_id,u.name as minister_user_name, d.department_name, d.content, d.create_time
    from department_table d
    left join user_table u on u.id = d.minister_user_id
    left join association_table a on a.id = d.association_id
    <where>
        <if test="associationId != null ">
            and d.association_id = #{associationId}
        </if>
        <if test="ministerUserId != null ">
            and d.minister_user_id = #{ministerUserId}
        </if>
    </where>
    limit #{pageNo},#{pageSize}
  </select>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long">
        select count(*)
        from department_table d
        left join user_table u on u.id = d.minister_user_id
        left join association_table a on a.id = d.association_id
        <where>
            <if test="associationId != null ">
                and d.association_id = #{associationId}
            </if>
            <if test="ministerUserId != null ">
                and d.minister_user_id = #{ministerUserId}
            </if>
        </where>
    </select>
</mapper>