<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrr.assnsystem.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.xrr.assnsystem.dto.po.Notice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="association_id" jdbcType="BIGINT" property="associationId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>

  <resultMap id="NoticeResultMap" type="com.xrr.assnsystem.dto.NoticeDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="association_id" jdbcType="BIGINT" property="associationId" />
    <result column="association_name" jdbcType="VARCHAR" property="associationName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from notice_table
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xrr.assnsystem.dto.po.Notice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into notice_table (title,user_id,association_id, content, create_time,
      `type`)
    values (#{title,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT},#{associationId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{type,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xrr.assnsystem.dto.po.Notice">
    update notice_table
    set #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      association_id = #{associationId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="NoticeResultMap">
    select n.id,n.title, n.user_id,u.name,n.association_id,a.association_name, n.content, n.create_time, n.`type`
    from notice_table n
    left join user_table u on u.id = n.user_id
    left join association_table a on a.id = n.association_id
    where n.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="NoticeResultMap">
    select n.id,n.title, n.user_id,u.name,n.association_id,a.association_name, n.content, n.create_time, n.`type`
    from notice_table n
    left join user_table u on u.id = n.user_id
    left join association_table a on a.id = n.association_id
    <where>
      <if test="userId != null ">
        and n.user_id = #{userId}
      </if>
      <if test="associationId != null ">
        and n.association_id = #{associationId}
      </if>
      <if test="type != null ">
        and n.type = #{type}
      </if>
    </where>
    order by n.create_time desc
    limit #{pageNo},#{pageSize}
  </select>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long">
      select count(*)
      from notice_table n
      left join user_table u on u.id = n.user_id
      left join association_table a on a.id = n.association_id
      <where>
        <if test="userId != null ">
          and n.user_id = #{userId}
        </if>
        <if test="associationId != null ">
          and n.association_id = #{associationId}
        </if>
        <if test="type != null ">
          and n.type = #{type}
        </if>
      </where>
    </select>
</mapper>