<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrr.assnsystem.mapper.UserActivityMapper">
  <resultMap id="BaseResultMap" type="com.xrr.assnsystem.dto.po.UserActivity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="association_id" jdbcType="BIGINT" property="associationId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="job" jdbcType="VARCHAR" property="job" />
  </resultMap>

    <resultMap id="UserActivityResultMap" type="com.xrr.assnsystem.dto.UserActivityDto">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="association_id" jdbcType="BIGINT" property="associationId" />
        <result column="association_name" jdbcType="VARCHAR" property="associationName" />
        <result column="department_id" jdbcType="BIGINT" property="departmentId" />
        <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
        <result column="activity_id" jdbcType="BIGINT" property="activityId" />
        <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
        <result column="job" jdbcType="VARCHAR" property="job" />
    </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_activity_table
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xrr.assnsystem.dto.po.UserActivity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_activity_table (user_id,association_id, department_id, activity_id
      )
    values (#{userId,jdbcType=BIGINT},#{associationId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xrr.assnsystem.dto.po.UserActivity">
    update user_activity_table
    set user_id = #{userId,jdbcType=BIGINT},
        association_id = #{associationId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      activity_id = #{activityId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="UserActivityResultMap">
    select id, user_id,association_id, department_id, activity_id
    from user_activity_table
    where id = #{id,jdbcType=BIGINT}
  </select>



    <!-- 根据条件删除 -->
    <delete id="deleteBy">
        delete from user_activity_table
        <where>
            <if test="userId != null '">
                and  user_id = #{userId}
            </if>
            <if test="associationId != null ">
                and  association_id = #{associationId}
            </if>
            <if test="departmentId != null ">
                and  department_id = #{usdepartmentIderId}
            </if>
            <if test="activityId != null ">
                and  activity_id = #{activityId}
            </if>
        </where>
    </delete>

    <!-- 查询某用户参与的所有社团列表 -->
    <select id="selectAssociationAllByUserId" resultMap="UserActivityResultMap">
        select ua.id, ua.user_id,u.name,ua.association_id,a.association_name
        from user_activity_table ua
        join user_table u on u.id = ua.user_id
        join association_table a on a.id = ua.association_id
        where ua.user_id = #{userId}
        and ua.department_id = 0
        and ua.activity_id = 0
        limit #{pageNo},{pageSize}
    </select>
    <!-- 查询某用户参与的社团总数 -->
    <select id="selectCountAssociationAllByUserId" resultType="java.lang.Long">
        select count(*)
        from user_activity_table ua
        join user_table u on u.id = ua.user_id
        join association_table a on a.id = ua.association_id
        where ua.user_id = #{userId}
        and ua.department_id = 0
        and ua.activity_id = 0
    </select>

    <!-- 查询某用户参与的所有部门列表 -->
    <select id="selectDepartmentAllByUserId" resultMap="UserActivityResultMap">
        select ua.id, ua.user_id,u.name,ua.association_id,a.association_name, ua.department_id,
        d.department_name
        from user_activity_table ua
        join user_table u on u.id = ua.user_id
        join association_table a on a.id = ua.association_id
        join department_table d on d.id = ua.department_id
        join association_activity_table aa on aa.id = ua.activity_id
        where ua.user_id = #{userId}
        and ua.department_id  &lt;&gt; 0
        and ua.activity_id = 0
        <if test="associationId != null ">
            and ua.association_id = #{associationId}
        </if>
        limit #{pageNo},{pageSize}
    </select>
    <!-- 查询某用户参与的部门总数 -->
    <select id="selectCountDepartmentAllByUserId" resultType="java.lang.Long">
        select count(*)
        from user_activity_table ua
        join user_table u on u.id = ua.user_id
        join association_table a on a.id = ua.association_id
        join department_table d on d.id = ua.department_id
        join association_activity_table aa on aa.id = ua.activity_id
        where ua.user_id = #{userId}
        and ua.department_id  &lt;&gt; 0
        and ua.activity_id = 0
        <if test="associationId != null ">
            and ua.association_id = #{associationId}
        </if>
    </select>


    <!-- 根据条件查询成员列表-->
    <select id="selectUserAll" resultMap="UserActivityResultMap">
        select ua.id, ua.user_id,u.name,ua.association_id,a.association_name, ua.department_id,
        d.department_name, ua.activity_id,aa.activity_name
        from user_activity_table ua
        join user_table u on u.id = ua.user_id
        join association_table a on a.id = ua.association_id
        join department_table d on d.id = ua.department_id
        join association_activity_table aa on aa.id = ua.activity_id
        <where>
            <if test="associationId != null ">
                and ua.association_id = #{associationId}
            </if>
            <if test="departmentId != null ">
                and ua.department_id = #{departmentId}
            </if>
            <if test="activityId != null ">
                and ua.activity_id = #{activityId}
            </if>
        </where>
        limit #{pageNo},#{pageSize}
    </select>

    <!-- 根据条件查询成员总数 -->
    <select id="selectUserCount" resultType="java.lang.Long">
        select count(*)
        from user_activity_table ua
        join user_table u on u.id = ua.user_id
        join association_table a on a.id = ua.association_id
        join department_table d on d.id = ua.department_id
        join association_activity_table aa on aa.id = ua.activity_id
        <where>
            <if test="associationId != null ">
                and ua.association_id = #{associationId}
            </if>
            <if test="departmentId != null ">
                and ua.department_id = #{departmentId}
            </if>
            <if test="activityId != null ">
                and ua.activity_id = #{activityId}
            </if>
        </where>
    </select>


</mapper>