<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrr.assnsystem.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xrr.assnsystem.dto.po.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="identity_id" jdbcType="BIGINT" property="identityId" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="tel_number" jdbcType="BIGINT" property="telNumber" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="user_img" jdbcType="VARCHAR" property="userImg" />
  </resultMap>

  <resultMap id="UserResultMap" type="com.xrr.assnsystem.dto.UserDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="identity_id" jdbcType="BIGINT" property="identityId" />
    <result column="identity_name" jdbcType="VARCHAR" property="identityName" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="tel_number" jdbcType="BIGINT" property="telNumber" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="user_img" jdbcType="VARCHAR" property="userImg" />

    <collection   property="assnBasicList" javaType="java.util.List" ofType="com.xrr.assnsystem.dto.UserDto$AssnBasic">
      <id column="association_id" property="associationId" jdbcType="INTEGER"/>
      <result column="association_name" property="associationName" jdbcType="VARCHAR" />
      <result column="job" property="job" jdbcType="VARCHAR" />
      <collection   property="departmentBasicList" javaType="java.util.List" ofType="com.xrr.assnsystem.dto.UserDto$AssnBasic$DepartmentBasic">
        <id column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
      </collection>
    </collection>

  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_table
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xrr.assnsystem.dto.po.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_table (identity_id, major, user_name, pwd,
      `name`, sex, age,
      tel_number, grade, user_img
      )
    values (#{identityId,jdbcType=BIGINT}, #{major,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{age,jdbcType=INTEGER},
      #{telNumber,jdbcType=BIGINT}, #{grade,jdbcType=INTEGER}, #{userImg,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xrr.assnsystem.dto.po.User">
    update user_table
    set identity_id = #{identityId,jdbcType=BIGINT},
      major = #{major,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      age = #{age,jdbcType=INTEGER},
      tel_number = #{telNumber,jdbcType=BIGINT},
      grade = #{grade,jdbcType=INTEGER},
      user_img = #{userImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="UserResultMap">
    select u.id,u.identity_id, i.identity_name, u.major, u.user_name, u.pwd, u.`name`,
    u.sex, u.age, u.tel_number, u.grade, u.user_img, a.id as association_id ,a.association_name,
    ua.job,d.id as department_id,d.department_name
    from user_table u
    left join `identity_table` i on i.id = u.identity_id
    left join user_activity_table ua on u.id = ua.user_id
    left join association_table a on a.id = ua.association_id
    left join department_table d on d.association_id = a.id
    where u.id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 查询全部信息 -->
  <select id="selectAll" resultMap="UserResultMap">
    select u.id,u.identity_id, i.identity_name, u.major, u.user_name, u.pwd, u.`name`,
    u.sex, u.age, u.tel_number, u.grade, u.user_img, a.id as association_id ,a.association_name,
    ua.job,d.id as department_id,d.department_name
    from user_table u
    left join `identity_table` i on i.id = u.identity_id
    left join user_activity_table ua on u.id = ua.user_id
    left join association_table a on a.id = ua.association_id
    left join department_table d on d.association_id = a.id
    <where>
      <if test="identityId != null and identityId != ''">
         and  u.identity_id = #{identityId}
      </if>
      <if test="identityName != null and identityName != ''">
        and i.identity_name = #{identityName}
      </if>
      <if test="associationId != null and associationId != ''">
        and  a.id = #{associationId}
      </if>
      <if test="departmentId != null and departmentId != ''">
        and  d.id = #{departmentId}
      </if>
      <if test="name != null and name != ''">
        and  u.name = #{name}
      </if>
      <if test="userName != null and userName != ''">
        and  u.user_name = #{userName}
      </if>
    </where>
    limit #{pageNo},#{pageSize}
  </select>

  <!-- 查询总数 -->
  <select id="selectCount" resultType="java.lang.Long">
    select count(*)
    from user_table u
    left join `identity_table` i on i.id = u.identity_id
    left join user_activity_table ua on u.id = ua.user_id
    left join association_table a on a.id = ua.association_id
    left join department_table d on d.association_id = a.id
      <where>
          <if test="identityId != null and identityId != ''">
              and  u.identity_id = #{identityId}
          </if>
          <if test="identityName != null and identityName != ''">
            and i.identity_name = #{identityName}
          </if>
          <if test="associationId != null and associationId != ''">
              and  a.id = #{associationId}
          </if>
          <if test="departmentId != null and departmentId != ''">
              and  d.id = #{departmentId}
          </if>
          <if test="name != null and name != ''">
              and  u.name = #{name}
          </if>
          <if test="userName != null and userName != ''">
              and  u.user_name = #{userName}
          </if>
      </where>
  </select>

  <!-- 通过账号密码查询 -->
  <select id="selectByUserNameAndPwd"  resultMap="UserResultMap">
    select u.id,u.identity_id, i.identity_name, u.major, u.user_name, u.pwd, u.`name`,
     u.sex, u.age, u.tel_number, u.grade, u.user_img, a.id as association_id ,a.association_name,
     ua.job,d.id as department_id,d.department_name
    from user_table u
    left join `identity_table` i on i.id = u.identity_id
    left join user_activity_table ua on u.id = ua.user_id
    left join association_table a on a.id = ua.association_id
    left join department_table d on d.association_id = a.id
    where u.user_name = #{userName}
    and u.pwd = #{pwd}
  </select>

  <!-- 修改密码 -->
  <update id="updatePwd">
    update user_table
    set pwd = #{pwd}
    where pwd = #{oldPwd}
    and user_name = #{newPwd}
  </update>

    <!-- 修改职务 -->
  <update id="updateJob">
    update user_activity_table
    set job = #{job}
    where user_id = #{userId}
    and association_id = #{associationId}
    and department_id = 0
    and activity_id = 0
  </update>



</mapper>